[Unit]
Description=Atsora Tracking CncCore Service

[Service]
WorkingDirectory=/usr/share/atracking
ExecStart=/usr/bin/dotnet /usr/share/atracking/Lem_CncCoreService.dll
Restart=always
KillSignal=SIGINT
SyslogIdentifier=atracking-cnccore
User=atracking
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
