<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate, Version=5.4.0.0, Culture=neutral, PublicKeyToken=aa95f207798dfdb4" />
    <section name="corememorycache" type="NHibernate.Caches.CoreMemoryCache.CoreMemoryCacheSectionHandler,NHibernate.Caches.CoreMemoryCache" />
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true"></startup>

  <system.serviceModel>
    <services>
      <service name="Lem_CncService.Wcf.WcfService">
        <endpoint address="" binding="webHttpBinding" contract="Lem_CncService.Wcf.IWcfService" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.default_expiration">600</property>
      <!-- 10 minutes -->
      <class-cache
        class="Lemoine.GDBPersistentClasses.Cell, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.CurrentCncValue, Pulse.Database"
        usage="read-write" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.CurrentMachineMode, Pulse.Database"
        usage="read-write" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.CncAcquisition, Pulse.Database"
        usage="read-write" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Company, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Computer, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Config, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.EventCncValueConfig, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.EventLevel, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Field, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.IsoFile, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Machine, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineCategory, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineFilter, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineFilterItem, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineMode, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineModule, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.MachineSubCategory, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Package, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.PackagePluginAssociation, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Plugin, Pulse.Database"
        usage="read-write" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Sequence, Pulse.Database"
        usage="read-only" />
      <class-cache
        class="Lemoine.GDBPersistentClasses.Stamp, Pulse.Database"
        usage="read-only" />
    </session-factory>
  </hibernate-configuration>

  <corememorycache expiration-scan-frequency="0:05:00">
    <!--cache region="foo" expiration="300" sliding="true" /-->
  </corememorycache>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="l_ctr\pfrdata\plugins_synchronized"/>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="3.2.0.4000-5.2.99.9999" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Core" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="9.0.0.0-9.1.99.99" newVersion="9.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.ModelDAO" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="14.0.0.0-14.5.99.99" newVersion="14.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="8.0.0.0-8.1.99.99" newVersion="8.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="18.0.0.0-18.0.99.99" newVersion="18.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pomamo.CncModule" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.99.99" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Cnc.ICncModule" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="6.0.0.0-6.8.99.99" newVersion="6.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Cnc.CncAlarm" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.11.99.99" newVersion="5.11.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="12.0.0.0-12.0.99.99" newVersion="12.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Alert" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="1.0.0.0-1.2.99.99" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Analysis" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="8.0.0.0-8.3.99.99" newVersion="8.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.0.99.99" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Cnc" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.1.99.99" newVersion="5.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="9.0.0.0-9.0.99.99" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.0.99.99" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="7.0.0.0-7.1.99.99" newVersion="7.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.BaseControls" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.99.99" newVersion="3.0.3.0"/>
      </dependentAssembly>
      <qualifyAssembly partialName="NHibernate.Caches.CoreMemoryCache"
                       fullName="NHibernate.Caches.CoreMemoryCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.SysCache"
                       fullName="NHibernate.Caches.SysCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.Prevalence"
                       fullName="NHibernate.Caches.Prevalence, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="Bamboo.Prevalence"
		                   fullName="Bamboo.Prevalence, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Bamboo.Prevalence.Util"
		                   fullName="Bamboo.Prevalence.Util, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Npgsql"
                       fullName="Npgsql, Version=5.0.13.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="Cnc.DataHandler.GarbageCollection.MinMemory" value="209715200" />
    <!-- 200 MB -->
    <!--add key="DoProfile" value="true" /-->
    <!--add key="ProfileThreshold" value="00:00:00.5" /-->
    <!--add key="ProfileLimit" value="100" /-->
  </appSettings>

</configuration>
