/*.cd
/*.sdps
/*.suo
/Coverage.Xml
/Experiments
/PartCover
/TestResult.xml
bin
obj
/AssemblyInfo.xdc
/*.xdc
*~
.vs
*.user
*.ipch
*.VC.db
*.bak
*.swp
Auto.AssemblyInfo.cs
*.msi
*.msm
*.wixobj
nunit-agent_*.log
/ExecutableAssemblyInfo.cpp
/ExecutableAssemblyInfo.cs
/UnitTests-out
GDBConfigCache
GDBConfigCache.extensions
GDBDefaultValuesCache
GDBMigrationCache
*.gdbcache
*.gdbcache.extensions
/Libraries/Lemoine.CheckPK/MNR_CheckPK.dll
/Libraries/Lemoine.FileRepository.Corba/FileRepository.dll
launchSettings.json
symbolCache.db
.fake
.ionide
/Build.All.sln

/CommonAssemblyInfo.cpp
/CommonAssemblyInfo.cs
