[Unit]
Description=Lemoine Analysis Service

[Service]
WorkingDirectory=/usr/share/lpulse
ExecStart=/usr/bin/dotnet /usr/share/lpulse/Lem_AnalysisService.dll
Restart=always
KillSignal=SIGINT
SyslogIdentifier=lpulse-analysis
User=lpulse
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
