<?xml version="1.0"?>
<alert>
  <title>New stack light value listener</title>
  <description>Cnc value listener: track any stack light value change</description>
  <eventtype>stack light</eventtype>
  <action>GDBListener</action>
  <listeners>
    <CncValueListener type="Lemoine.Alert.GDBListeners.CncValueListener, Lemoine.Alert.GDBListeners"
                      FieldId="126" />
  </listeners>
</alert>
