<?xml version="1.0"?>
<alert>
  <title>Send an e-mail when the stack light changes</title>
  <description>An email alert is triggered on stack light change</description>
  <eventtype>stack light</eventtype>
  <action>email alert</action>
  <advanced>false</advanced>
  <!--XmlStructureExample>
<CncValue xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Begin="2017-10-01 00:00:00" LocalBeginString="01/10/2017 02:00:00 AM" LocalBeginDateTimeG="01/10/2017 02:00:00 AM" End="0001-01-01 00:00:00" LocalEndDateTimeG="01/01/0001 01:00:00 AM" String="3" Stopped="false">
  <MachineModule Id="0" ConfigPrefix="">
    <MonitoredMachine Id="0" Name="Machine" />
  </MachineModule>
  <Field Code="FieldTest" Type="Int32" />
  <Value xsi:type="xsd:int">3</Value>
</CncValue>    
  </XmlStructureExample-->
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>/CncValue/Field[@Code='StackLight']</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <ConfigEMailAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        type="Lemoine.Alert.ConfigEMailAction, Lemoine.Alert">
        <UtcDateTime xsi:type="XslValueOfDefinition">
          <XPath>/CncValue/@Begin</XPath>
        </UtcDateTime>
        <!--Name xsi:type="XslTextDefinition">
          <XslText>emailconfigname</XslText>
        </Name-->
        <DataType xsi:type="XslTextDefinition">
          <XslText>StackLight</XslText>
        </DataType>
        <!--FreeFilter xsi:type="XslTextDefinition">
          <XslText></XslText>
        </FreeFilter-->
        <ValueFilter xsi:type="XslValueOfDefinition">
          <XPath>/CncValue/@String</XPath>
        </ValueFilter>
        <!--LevelPriority xsi:type="XslValueOfDefinition">
          <XPath>/Event/Level/@Priority</XPath>
        </LevelPriority-->
        <MachineName xsi:type="XslValueOfDefinition">
          <XPath>/CncValue/MachineModule/MonitoredMachine/@Name</XPath>
        </MachineName>
        <Subject xsi:type="XslTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <xsl:text>[Stack light change] </xsl:text>
  <xsl:value-of select="/CncValue/MachineModule/MonitoredMachine/@Name" />
</xsl:template>
]]></XslTemplate>
        </Subject>
        <Body xsi:type="XslHtmlBodyTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <html>
    <body>
      <h1>Stack light alert</h1>
      Stack light changed to red at <xsl:value-of select="/CncValue/@LocalBeginDateTimeG" /> on machine <xsl:value-of select="/CncValue/MachineModule/MonitoredMachine/@Name" />.
      <br></br><br></br><br></br>
      <img src="cid:pulse_logo"></img>
    </body>
  </html>
</xsl:template>
]]></XslTemplate>
        </Body>
      </ConfigEMailAction>
    </action>
  </triggeredAction>
</alert>
