[Unit]
Description=Pomamo Auto-reason Service

[Service]
WorkingDirectory=/usr/share/pomamo
ExecStart=/usr/bin/dotnet /usr/share/pomamo/Lem_AutoReasonService.dll
Restart=always
KillSignal=SIGINT
SyslogIdentifier=pomamo-autoreason
User=pomamo
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
