<?xml version="1.0"?>
<alert>
  <title>Cnc alarm stacklight listener</title>
  <description>Cnc alarm stacklight listener: track any new cnc alarm occurring during a yellow or red stacklight</description>
  <eventtype>Cnc alarms stacklight</eventtype>
  <actiontype>GDBListener</actiontype>
  <listeners>
    <CncAlarmStackLightListener type="Lemoine.Alert.GDBListeners.CncAlarmStackLightListener, Lemoine.Alert.GDBListeners" />
  </listeners>
</alert>
