[Unit]
Description=Pomamo WatchDog Service

[Service]
WorkingDirectory=/usr/share/pomamo
ExecStart=/usr/bin/dotnet /usr/share/pomamo/Lem_WatchDogService.dll
Restart=always
KillSignal=SIGINT
SyslogIdentifier=pomamo-watchdog
User=pomamo
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
