<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="3.2.0.4000-5.2.99.9999" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Core" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="6.0.0.0-6.6.99.99" newVersion="6.6.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.ModelDAO" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="14.0.0.0-14.2.99.99" newVersion="14.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="12.0.0.0-12.0.99.99" newVersion="12.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Alert" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="1.0.0.0-1.2.99.99" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Analysis" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="8.0.0.0-8.2.99.99" newVersion="8.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.0.99.99" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Cnc" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="4.0.0.0-4.1.99.99" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="9.0.0.0-9.0.99.99" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="5.0.0.0-5.0.99.99" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="7.0.0.0-7.1.99.99" newVersion="7.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.BaseControls" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.99.99" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <qualifyAssembly partialName="NHibernate.Caches.CoreMemoryCache"
                       fullName="NHibernate.Caches.CoreMemoryCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.SysCache"
                       fullName="NHibernate.Caches.SysCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.Prevalence"
                       fullName="NHibernate.Caches.Prevalence, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="Bamboo.Prevalence"
		                   fullName="Bamboo.Prevalence, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Bamboo.Prevalence.Util"
		                   fullName="Bamboo.Prevalence.Util, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Npgsql"
                       fullName="Npgsql, Version=5.0.13.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </assemblyBinding>
  </runtime>
</configuration>
