<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="..\pfrdata\plugins_synchronized"/>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="3.2.0.4000-5.2.99.9999" newVersion="{NHibernate.Assembly.version}"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Core" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Core.major}.0.0.0-{Lemoine.Core.major}.{Lemoine.Core.minor}.99.99" newVersion="{Lemoine.Core.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.ModelDAO" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.ModelDAO.major}.0.0.0-{Lemoine.ModelDAO.major}.{Lemoine.ModelDAO.minor}.99.99" newVersion="{Lemoine.ModelDAO.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Business.major}.0.0.0-{Lemoine.Business.major}.{Lemoine.Business.minor}.99.99" newVersion="{Lemoine.Business.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Database.major}.0.0.0-{Lemoine.Database.major}.{Lemoine.Database.minor}.99.99" newVersion="{Lemoine.Database.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Cnc.ICncModule" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Cnc.ICncModule.major}.0.0.0-{Lemoine.Cnc.ICncModule.major}.{Lemoine.Cnc.ICncModule.minor}.99.99" newVersion="{Lemoine.Cnc.ICncModule.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Cnc.CncAlarm" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Cnc.CncAlarm.major}.0.0.0-{Lemoine.Cnc.CncAlarm.major}.{Lemoine.Cnc.CncAlarm.minor}.99.99" newVersion="{Lemoine.Cnc.CncAlarm.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.major}.0.0.0-{Lemoine.Extensions.major}.{Lemoine.Extensions.minor}.99.99" newVersion="{Lemoine.Extensions.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Alert" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Alert.major}.0.0.0-{Lemoine.Extensions.Alert.major}.{Lemoine.Extensions.Alert.minor}.99.99" newVersion="{Lemoine.Extensions.Alert.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Analysis" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Analysis.major}.0.0.0-{Lemoine.Extensions.Analysis.major}.{Lemoine.Extensions.Analysis.minor}.99.99" newVersion="{Lemoine.Extensions.Analysis.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.AutoReason" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.AutoReason.major}.0.0.0-{Lemoine.Extensions.AutoReason.major}.{Lemoine.Extensions.AutoReason.minor}.99.99" newVersion="{Lemoine.Extensions.AutoReason.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Business.major}.0.0.0-{Lemoine.Extensions.Business.major}.{Lemoine.Extensions.Business.minor}.99.99" newVersion="{Lemoine.Extensions.Business.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Cnc" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Cnc.major}.0.0.0-{Lemoine.Extensions.Cnc.major}.{Lemoine.Extensions.Cnc.minor}.99.99" newVersion="{Lemoine.Extensions.Cnc.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Database.major}.0.0.0-{Lemoine.Extensions.Database.major}.{Lemoine.Extensions.Database.minor}.99.99" newVersion="{Lemoine.Extensions.Database.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Extensions.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Extensions.Web.major}.0.0.0-{Lemoine.Extensions.Web.major}.{Lemoine.Extensions.Web.minor}.99.99" newVersion="{Lemoine.Extensions.Web.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Hosting" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Hosting.major}.0.0.0-{Lemoine.Hosting.major}.{Lemoine.Hosting.minor}.99.99" newVersion="{Lemoine.Hosting.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.ServiceCore" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.ServiceCore.major}.0.0.0-{Lemoine.ServiceCore.major}.{Lemoine.ServiceCore.minor}.99.99" newVersion="{Lemoine.ServiceCore.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.Web.major}.0.0.0-{Lemoine.Web.major}.{Lemoine.Web.minor}.99.99" newVersion="{Lemoine.Web.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lemoine.BaseControls" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Lemoine.BaseControls.major}.0.0.0-{Lemoine.BaseControls.major}.{Lemoine.BaseControls.minor}.99.99" newVersion="{Lemoine.BaseControls.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pomamo.CncModule" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pomamo.CncModule.major}.0.0.0-{Pomamo.CncModule.major}.{Pomamo.CncModule.minor}.99.99" newVersion="{Pomamo.CncModule.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Business.major}.0.0.0-{Pulse.Business.major}.{Pulse.Business.minor}.99.99" newVersion="{Pulse.Business.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Database.major}.0.0.0-{Pulse.Database.major}.{Pulse.Database.minor}.99.99" newVersion="{Pulse.Database.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Extensions" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Extensions.major}.0.0.0-{Pulse.Extensions.major}.{Pulse.Extensions.minor}.99.99" newVersion="{Pulse.Extensions.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Extensions.Business" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Extensions.Business.major}.0.0.0-{Pulse.Extensions.Business.major}.{Pulse.Extensions.Business.minor}.99.99" newVersion="{Pulse.Extensions.Business.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Extensions.Database" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Extensions.Database.major}.0.0.0-{Pulse.Extensions.Database.major}.{Pulse.Extensions.Database.minor}.99.99" newVersion="{Pulse.Extensions.Database.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Extensions.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Extensions.Web.major}.0.0.0-{Pulse.Extensions.Web.major}.{Pulse.Extensions.Web.minor}.99.99" newVersion="{Pulse.Extensions.Web.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Graphql" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Graphql.major}.0.0.0-{Pulse.Graphql.major}.{Pulse.Graphql.minor}.99.99" newVersion="{Pulse.Graphql.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Hosting" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Hosting.major}.0.0.0-{Pulse.Hosting.major}.{Pulse.Hosting.minor}.99.99" newVersion="{Pulse.Hosting.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.PluginImplementation" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.PluginImplementation.major}.0.0.0-{Pulse.PluginImplementation.major}.{Pulse.PluginImplementation.minor}.99.99" newVersion="{Pulse.PluginImplementation.version}.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Pulse.Web" publicKeyToken="81905bf9cdaf40b2" />
        <bindingRedirect oldVersion="{Pulse.Web.major}.0.0.0-{Pulse.Web.major}.{Pulse.Web.minor}.99.99" newVersion="{Pulse.Web.version}.0"/>
      </dependentAssembly>
      <qualifyAssembly partialName="NHibernate.Caches.CoreMemoryCache"
                       fullName="NHibernate.Caches.CoreMemoryCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.SysCache"
                       fullName="NHibernate.Caches.SysCache, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="NHibernate.Caches.Prevalence"
                       fullName="NHibernate.Caches.Prevalence, Version=5.6.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" />
      <qualifyAssembly partialName="Bamboo.Prevalence"
		                   fullName="Bamboo.Prevalence, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Bamboo.Prevalence.Util"
		                   fullName="Bamboo.Prevalence.Util, Version=1.4.4.4, Culture=neutral, PublicKeyToken=0edf2245780ab2d7" />
      <qualifyAssembly partialName="Npgsql"
                       fullName="Npgsql, Version=NpgsqlVersion, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </assemblyBinding>
  </runtime>
</configuration>
