<?xml version="1.0"?>
<alert>
  <title>Send an e-mail when a reserve capacity threshold arises</title>
  <description>An email alert is triggered when a reserve capacity threshold arises</description>
  <eventtype>Reserve capacity</eventtype>
  <action>Reserve capacity email alert</action>
  <advanced>false</advanced>
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>/ReserveCapacityInfo</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <ConfigEMailAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        type="Lemoine.Alert.ConfigEMailAction, Lemoine.Alert">
        <UtcDateTime xsi:type="XslValueOfDefinition">
          <XPath>/ReserveCapacityInfo/BeginDateTime</XPath>
        </UtcDateTime>
		<DataType xsi:type="XslTextDefinition">
          <XslText>ReserveCapacityInfo</XslText>
        </DataType>
        <!--ValueFilter xsi:type="XslValueOfDefinition">
          <XPath>/ReserveCapacityInfo/NbPieces</XPath>
        </ValueFilter>
        <ValueFilter xsi:type="XslValueOfDefinition">
          <XPath>/ReserveCapacityInfo/ReserveCapacity</XPath>
        </ValueFilter-->
        <MachineName xsi:type="XslValueOfDefinition">
          <XPath>/ReserveCapacityInfo/Name</XPath>
        </MachineName>
        <Subject xsi:type="XslTemplateDefinition">
          <XslTemplate>
    <![CDATA[
<xsl:template match="/">
  <xsl:text>[Machine reserve capacity] </xsl:text>
  <xsl:value-of select="/ReserveCapacityInfo/Name" />
</xsl:template>
]]></XslTemplate>
        </Subject>
        <Body xsi:type="XslHtmlBodyTemplateDefinition">
          <XslTemplate>
        <![CDATA[
<xsl:template match="/">
  <html>
    <body>
      <h1>Reserve capacity reached</h1>
      Reserve capacity reached at <xsl:value-of select="/ReserveCapacityInfo/BeginDateTime" /> on group <xsl:value-of select="/ReserveCapacityInfo/Name" />.
      <br></br><br></br>
      <table border="1" cellspacing="0">
        <tr>
          <td>Current number of pieces in shift</td>
          <td><xsl:value-of select="/ReserveCapacityInfo/NbPieces" /></td>
        </tr>
        <tr>
          <td>Current goal in shift</td>
          <td><xsl:value-of select="/ReserveCapacityInfo/GoalCurrentShift" /></td>
        </tr>
        <tr>
          <td>Shift goal</td>
          <td><xsl:value-of select="/ReserveCapacityInfo/ShiftGoal" /></td>
        </tr>
        <tr>
          <td>Remaining capacity</td>
          <td><xsl:value-of select="/ReserveCapacityInfo/RemainingCapacity" /></td>
        </tr>
        <tr>
          <td>Reserve capacity</td>
          <td><xsl:value-of select="/ReserveCapacityInfo/ReserveCapacity" /></td>
        </tr>
      </table>
      <br></br><br></br>
      <img src="cid:pulse_logo"></img>
    </body>
  </html>
</xsl:template>
]]></XslTemplate>
        </Body>
      </ConfigEMailAction>
    </action>
  </triggeredAction>
</alert>
