<?xml version="1.0"?>
<alert>
  <title>Reserve Capacity listener</title>
  <description>Reserve Capacity listener: track reserve capacity alerts</description>
  <eventtype>Reserve capacity</eventtype>
  <action>GDBListeners</action>
  <listeners>
    <ReserveCapacityListener type="Lemoine.Alert.GDBListeners.ReserveCapacityListener, Lemoine.Alert.GDBListeners" />
  </listeners>
</alert>
