<?xml version="1.0"?>
<alert>
  <title>Cnc alarm listener</title>
  <description>Cnc alarm listener: track any new cnc alarm</description>
  <eventtype>Cnc alarms</eventtype>
  <action>GDBListener</action>
  <listeners>
    <CncAlarmListener type="Lemoine.Alert.GDBListeners.CncAlarmListener, Lemoine.Alert.GDBListeners" />
  </listeners>
</alert>
