<?xml version="1.0"?>
<alert>
  <title>Send an e-mail when a cnc alarm arises</title>
  <description>An email alert is triggered when a cnc alarm arises</description>
  <eventtype>Cnc alarms</eventtype>
  <action>email alert</action>
  <advanced>false</advanced>
  <!--XmlStructureExample>
<?xml version="1.0" encoding="utf-16"?>
<CncAlarm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Display="a message" CncInfo="CncTest" CncSubInfo="sub info" Type="alarm type" Number="1000" Message="a message" Properties="a property=a value;another property=another value">
  <ModificationTrackerLevel>0</ModificationTrackerLevel>
  <DateTimeRange>[2017-10-01 00:00:00,2017-10-02 00:00:00)</DateTimeRange>
  <BeginDateTime>2017-10-01 00:00:00</BeginDateTime>
  <LocalBeginDateTime>2017-10-01 02:00:00</LocalBeginDateTime>
  <LocalBeginDateTimeG>10/01/2017 02:00:00 AM</LocalBeginDateTimeG>
  <EndDateTime>2017-10-02 00:00:00</EndDateTime>
  <LocalEndDateTime>2017-10-02 02:00:00</LocalEndDateTime>
  <LocalEndDateTimeG>10/02/2017 02:00:00 AM</LocalEndDateTimeG>
  <Duration>1.00:00:00</Duration>
  <Consolidated>true</Consolidated>
  <MachineModule Id="1" ConfigPrefix="">
    <CncAcquisition Id="1" Name="MACHINE_A17" ConfigPrefix="" UseProcess="false" Every="00:00:02" NotRespondingTimeout="00:02:00" SleepBeforeRestart="00:00:10">
      <Computer Id="1" Name="PC17" Address="PC17" IsLctr="true" IsLpst="true" IsCnc="false" IsWeb="true" />
    </CncAcquisition>
    <MonitoredMachine Id="1" Name="MACHINE_A17">
      <MonitoringType TranslationKey="MonitoringTypeMonitored" Display="Monitored" Id="2" />
    </MonitoredMachine>
  </MachineModule>
  <Severity CncInfo="CncTest" Name="small problem" Status="DEFAULT_VALUE" Description="This is a small problem." StopStatus="No" Focus="False" />
</CncAlarm>
  </XmlStructureExample-->
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>/CncAlarm</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <ConfigEMailAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        type="Lemoine.Alert.ConfigEMailAction, Lemoine.Alert">
        <UtcDateTime xsi:type="XslValueOfDefinition">
          <XPath>/CncAlarm/BeginDateTime</XPath>
        </UtcDateTime>
        <DataType xsi:type="XslTextDefinition">
          <XslText>CncAlarm</XslText>
        </DataType>
        <ValueFilter xsi:type="XslValueOfDefinition">
          <XPath>/CncAlarm/Severity/@Focus</XPath>
        </ValueFilter>
        <MachineName xsi:type="XslValueOfDefinition">
          <XPath>/CncAlarm/MachineModule/MonitoredMachine/@Name</XPath>
        </MachineName>
        <Subject xsi:type="XslTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <xsl:text>[Machine alarm] </xsl:text>
  <xsl:value-of select="/CncAlarm/MachineModule/MonitoredMachine/@Name" />
  <xsl:text>: </xsl:text>
  <xsl:value-of select="/CncAlarm/@Message" />
</xsl:template>
]]></XslTemplate>
        </Subject>
        <Body xsi:type="XslHtmlBodyTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <html>
    <body>
      <h1>Cnc alarm</h1>
      A cnc alarm raised at <xsl:value-of select="/CncAlarm/LocalBeginDateTimeG" /> on machine <xsl:value-of select="/CncAlarm/MachineModule/MonitoredMachine/@Name" />.
      <br></br><br></br>
      <table border="1" cellspacing="0">
        <tr>
          <td>Type</td>
          <td><xsl:value-of select="/CncAlarm/@Type" /></td>
        </tr>
        <tr>
          <td>Number</td>
          <td><xsl:value-of select="/CncAlarm/@Number" /></td>
        </tr>
        <tr>
          <td>Message</td>
          <td><xsl:value-of select="/CncAlarm/@Message" /></td>
        </tr>
        <tr>
          <td>Severity</td>
          <td><xsl:value-of select="/CncAlarm/Severity/@Name" /></td>
        </tr>
      </table>
      <br></br><br></br>
      To see the latest alarms, use this 
      <xsl:element name="a">
        <xsl:attribute name="href">          {config.ReportingUrl}viewer?__report=CncAlarms&amp;WebAppParamsDateTime=current_1_day&amp;PulseMachines=<xsl:value-of select="/CncAlarm/MachineModule/MonitoredMachine/@Id" />
        </xsl:attribute>report</xsl:element>.
        <br></br><br></br><br></br>
      <img src="cid:logo"></img>
    </body>
  </html>
</xsl:template>
]]></XslTemplate>
        </Body>
      </ConfigEMailAction>
    </action>
  </triggeredAction>
</alert>
