<?xml version="1.0"?>
<alert>
  <title>Machine state template change</title>
  <description>An email is sent when a machine state template change event is detected</description>
  <eventtype>machine state template change</eventtype>
  <action>email alert</action>
  <advanced>false</advanced>
  <!--XmlStructureExample>
<?xml version="1.0" encoding="utf-16"?>
<Event xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:type="EventMachineStateTemplateChange" DateTime="2017-06-23 09:06:01" LocalDateTimeString="23/06/2017 11:06:01" Range="[2017-06-24 20:00:00,2017-06-25 02:00:00)" LocalRange="[2017-06-24 22:00:00,2017-06-25 04:00:00)" LocalBegin="2017-06-24 22:00:00" LocalEnd="2017-06-25 04:00:00">
  <Level Name="QualityCheckSwitch" Display="QualityCheckSwitch" Priority="501" />
  <Machine xsi:type="MonitoredMachine" Id="2" Name="Machine1">
    <MonitoringType TranslationKey="MonitoringTypeMonitored" Display="Monitored" Id="2" />
  </Machine>
  <NewMachineStateTemplate Name="" TranslationKey="MachineStateTemplateQualityCheck" Display="Quality check" UserRequired="false" ShiftRequired="false" />
</Event>
  </XmlStructureExample-->
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>/Event[@xsi:type='EventMachineStateTemplateChange']</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <ConfigEMailAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        type="Lemoine.Alert.ConfigEMailAction, Lemoine.Alert">
        <UtcDateTime xsi:type="XslValueOfDefinition">
          <XPath>/Event/@DateTime</XPath>
        </UtcDateTime>
        <!--Name xsi:type="XslTextDefinition">
          <XslText>emailconfigname</XslText>
        </Name-->
        <DataType xsi:type="XslTextDefinition">
          <XslText>EventMachineStateTemplateChange</XslText>
        </DataType>
        <FreeFilter xsi:type="XslTextDefinition">
          <XslText>AlertConfigGUI</XslText>
        </FreeFilter>
        <LevelPriority xsi:type="XslValueOfDefinition">
          <XPath>/Event/Level/@Priority</XPath>
        </LevelPriority>
        <MachineName xsi:type="XslValueOfDefinition">
          <XPath>/Event/Machine/@Name</XPath>
        </MachineName>
        <Subject xsi:type="XslTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <xsl:text>[Machine state template change] </xsl:text>
  <xsl:value-of select="/Event/Machine/@Name" />
  <xsl:text> - </xsl:text>
  <xsl:value-of select="/Event/NewMachineStateTemplate/@Display" />
  <xsl:text> at </xsl:text>
  <xsl:value-of select="/Event/@LocalBegin" />
</xsl:template>
]]></XslTemplate>
        </Subject>
        <Body xsi:type="XslHtmlBodyTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <html>
    <body>
      <h1>Machine state template change</h1>
      <p>Machine <xsl:value-of select="/Event/Machine/@Name" /> switched to <xsl:value-of select="/Event/NewMachineStateTemplate/@Display" />
      at <xsl:value-of select="/Event/@LocalDateTimeString" /> from <xsl:value-of select="/Event/@LocalBegin" /> to <xsl:value-of select="/Event/@LocalEnd" /></p>
      
      <img src="cid:pulse_logo"></img>
    </body>
  </html>
</xsl:template>
]]></XslTemplate>
        </Body>
      </ConfigEMailAction>
    </action>
  </triggeredAction>
</alert>
