<?xml version="1.0"?>
<alert>
  <listeners>
    <LoopListener type="Lemoine.Alert.TestListeners.LoopListener, Lemoine.Alert.TestListeners" Frequency="00:00:04">
      <Data><![CDATA[
<Test>
  <Child attribute="hello" />
</Test>
]]></Data>
    </LoopListener>
  </listeners>
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>/Test/Child</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <XslEMailAction type="Lemoine.Alert.XslEMailAction, Lemoine.Alert" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" To="user@domain">
        <Subject xsi:type="XslTextDefinition">
          <XslText>Subject</XslText>
        </Subject>
        <Body xsi:type="XslTemplateDefinition">
          <XslTemplate><![CDATA[
<xsl:template match="/">
  <xsl:text>Body is </xsl:text><xsl:value-of select="//Test/Child/@attribute" />
</xsl:template>
]]></XslTemplate>
        </Body>
      </XslEMailAction>
    </action>
  </triggeredAction>
  <triggeredAction>
    <trigger>
      <XPathTrigger type="Lemoine.Alert.XPathTrigger, Lemoine.Alert">
        <XPath>//Unknown</XPath>
      </XPathTrigger>
    </trigger>
    <action>
      <BasicEMailAction type="Lemoine.Alert.BasicEMailAction, Lemoine.Alert" To="user@domain" Subject="Test">
        <Body>Unknown found</Body>
      </BasicEMailAction>
    </action>
  </triggeredAction>
</alert>
